*.log
_*
.*
*.old
env.json
/**/env.json
node_modules
coverage
test/lib
!.gitignore
!.npmignore
!.codeclimate.yml
!.travis.yml
!.npmrc
dist
out
docs
/**/cover.html
build/tmp
build/package-lock.json
test/package-lock.json
/**/browsercompat*.json