.icon-node {
  background-image: url(../images/node-icon.png) !important;
  background-repeat: no-repeat;
}
.icon-functionlib {
  background-image: url(../images/functionSmooth.png) !important;
  background-repeat: no-repeat;
}
