body {
  font-family: Monaco, Consolas, Arial;
  background: #000000;
  color: #FFFFFF;
  padding: 16px;
  font-size: smaller;
}

.disconnected {
  padding: 2px;
  color: #AA5500;
  font-size: larger;
  margin: 4px 0 4px 0;
  font-family: Helvetica, Arial, sans-serif;
}

.disconnected .time {
  color: #314E64;
  font-size: small;
  padding: 0 0 0 6px;
}

li {
  list-style-type:none;
  padding:4px 2 4px 8px;
  color: #888;
  border:1px solid #000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
/*li:before{
   content: "\00BB";
   padding-right: 10px;
   color: #2E3841;
}*/

li:hover {
  background: #111 !important;
  border: 1px dashed #111111;
}

h3 {
  color: #00FF00;
  font-family: Helvetica, Arial;
}

.process {
  color: #444;
  padding: 0 8px 0 0;
}
.process:after {
  content: ' >';
}
.process:before {
  content: '#';
}

#log li:last-child {
  background-color: #333333 !important;
  color: #FFFFFF !important;
  border: 1px solid #000 !important;
}
#log li:hover .process{
  color:blue;
}

#log li:last-child .process {
  color: magenta;
}

#log li.error {
  color: #EFE8E8 !important;
  border: 1px solid #000000 !important;
  font-family: monospace !important;
  font-size: 1.2em !important;
}
#log li.error:hover span.message {
  font-family: monospace !important;
  text-shadow: none !important;
  font-weight: none !important;
}

#log li.error pre .process {
  font-family: Monaco, Consolas, Arial !important;
}

#scrolltoggle {
  position: fixed;
  top: 0;
  right: 6px;
  padding: 4px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: #2E3841;
  color: #FFFFAA;
  text-decoration: none;
}

#scrolltoggle:after {
  content: '(or press spacebar)';
  color: #116644;
}
